.navbar-brand {
    width: 160px;
    min-width: 160px;
    text-align: center;
    padding: 0;
}

.header {
    background-color: #0049CB;
}

.navText {
    color: white !important;
}

.navText:hover {
    color: #C3FF00 !important;
}

.navText:active {
    color: #C3FF00 !important;
}

.navbar-dark .navbar-toggler {
    color: white !important;
    border: none ;
}

.navbar-collapse{
    text-align: center;
}

.btn-nav {
    border: none !important;
    background-color: #0049CB !important;
}

.btn-nav:hover {
    color: #C3FF00 !important;
    border: none;
    background-color: #0049CB;
}

