.modal-container {
  width: 70%;
  background: #fff;
  box-shadow: 0 2px 8px #00000026;
  position: fixed;
  top: 20vh;
  left: 15%;
  z-index: 100;
}

.modal-content {
  padding: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}
