.modal-container {
  width: 50%;
  background: #fff;
  box-shadow: 0 2px 8px #00000026;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  border-radius: 10px;
}
.modal-header {
  margin-bottom: -30px;
  border: none;
}
.modal-header h1{
  font-size: 32px;
}

.modal-container section{
  width: 100%;
  padding: 5vh;
  margin-top: 2vh;
}

.field-title {
  font-weight: 600;
}

.form-item { 
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field {
  /* padding: 1px 2px; */
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background: #f9f9f9;
  transition: 0.25s, border-color 0.25s, color 0.25s;
  padding: 0.3em;
}


.form-field:focus {
background: #ffffff;
}

.input {
  border: 1px solid #ced4da;
  text-align: start;
}

.select {
  border: 1px solid #ced4da;
  text-align: start;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}

@media only screen and (max-width: 991px) {
  .modal-header h1 {
    font-size: 22px;
  }

  .modal-container {
    width: 80%;
  }
}

.modal-container button.view-btn {
  background-color: #0049CB;
  color: white;
  border: none;
  text-align: center;
  padding: 10px;
  margin: 20px 0 30px;
  float: right;
}

.btn-cancel {
  margin-right: 10px;
}