.agent-bar {
    width: 90%;
    margin: auto;
}

.agent-bar h3 {
    display: inline-block;
}

.view-btn {
    float: right;
}

.agent-header {
    margin: 60px 0;
}



.view-container {
    
}

@media only screen and (max-width: 991px) {
    .view-container{
      justify-content: center;
    }
    
}