.view-container {
  /* padding: 10px; */
}

.view-item {
  border: 1px solid #3a3a3a40;
  background-color: #effffe;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
}
