.view {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
}

.view .title {
  color: #383838;
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  text-decoration: underline;
}
